@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover {
    color: #ff7979;
    font-weight: bold;
}

.content img {
    min-width: 40%;
    margin-right: 20px;
}

.content {
    min-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 10px;
    text-align: center;
}

small {
    color: #555;
    font-style: italic;
    text-align: center;
}

.content p {
    color: #333;
    line-height: 1.5;
    max-width: 55%;
}

.photo {
    border: 3px solid #222;
    border-radius: 50%;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        min-width: 100%;
    }

    .content img {
        max-width: 100%;
        margin: 0 0 20px 0;
    }

    .content p {
        max-width: 100%;
    }
}

#contact {
    text-align: center;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #f4f4f4;
}

form label {
    margin-top: 1rem;
    font-weight: bold;
}

form input,
form textarea,
form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

form button {
    margin-top: 1rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    form {
        max-width: 500px;
    }
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    max-height: 85px;
    transition: background-color 0.7s ease, box-shadow 0.7s ease, max-height 0.7s ease-in-out;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    transition: max-height 0.7s ease-in-out;
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free', sans-serif;
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0;
    transition: transform 0.7s ease;
    text-align: left;
    transform: translateX(0);
}

.faq.active .faq-title {
    transform: translateX(40%);
}

.faq-exp {
    margin: 30px 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
    opacity: 0;
}

.faq-exp a {
    display: block;
    margin: 30px 0 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.faq.active .faq-exp,
.faq.active .faq-exp a {
    max-height: 600px;
    opacity: 1;
}

.faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    transition: background-color 0.7s ease;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #9fa4a8;
}

.swiper-container {
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide a {
    display: block;
    max-width: 100%;
    height: 100%;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
}

.swiper-pagination-bullet-active {
    background-color: #ff7979;
}